<h1>Edit <%= @pond.name %></h1>
<form action="/ponds/<%= @pond.id %>/update" method="post">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="<%= @pond.name %>">
  <label for="water_type">Water type</label>
  <input type="text" id="water_type" name="water_type" placeholder="<%= @pond.water_type %>">
  <input type="submit" value="update">
</form><br>
<a href="/ponds">Cancel</a>